/* rest start */
*,html,body {font-family: 'FZLanTingHeiS-B-GB'}
ul,li{padding: 0;margin: 0;list-style: none;}
body,a,a:hover,a:visited {color: #000;}
select:invalid { color: gray; }
p{margin: 0;}
i {font-style: normal;}
.hide {display: none !important;}
.flex {
  width: 100%;
  box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.flex-around {
  -webkit-justify-content: space-around;
  justify-content: space-around;
}
.flex-item {
  -webkit-flex-shrink: 1;
  -ms-flex: 0 1 auto;
  -webkit-flex-shrink: 1;
  flex-shrink: 1;
  white-space: nowrap;
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}
input::-webkit-input-placeholder,textarea::-webkit-input-placeholder{
  color:#ccc;
}
input::-moz-placeholder,textarea::-moz-placeholder{   /* Mozilla Firefox 19+ */
  color:#ccc;
}
input:-moz-placeholder,textarea:-moz-placeholder{    /* Mozilla Firefox 4 to 18 */
  color:#ccc;
}
input:-ms-input-placeholder,textarea:-ms-input-placeholder{  /* Internet Explorer 10-11 */ 
  color:#ccc;
}
.blue {color: #0d88ff !important}
.red {color: #BE1B1B !important}
.shadow {box-shadow:0 3px 5px rgba(183, 170, 170, 0.15)}
.list-block.inset,.card ,.list-block.inset ul{border-radius: 0.25rem;}
.card-header {border-radius: .25rem .25rem 0 0}
.page, .page-group {background: #F6F4F4;}
.content {overflow-x: hidden;}
.content-padded { margin: .8rem;}

button.button-fill {background: #BE1B1B;}
.button.button-fill.button-submit {margin: 1rem 0 1.6rem;height: 2.4rem;line-height:  2.4rem;border-radius: 1.2rem;z-index: 1000;font-size:  1rem;
    background: #BE1B1B;
    /* box-shadow: 0 0.2rem 0.8rem rgba(13, 136, 255,0.3); */
  }
.button.button-fill.button-disabled {margin: 1rem 0 1.6rem;height: 2.4rem;line-height:  2.4rem;border-radius: 1.2rem;z-index: 1000;font-size:  1rem;
      background: #DEDEDE;color: #fff; box-shadow: none;}


body .label-checkbox i.icon-form-checkbox { width: 1.2rem;height: 1.2rem;border-radius: 50%;border:none;top: -0.1rem;
background: url(../images/checked0.svg) no-repeat ;background-size: 100%}
body .label-checkbox input {display: none}
body .label-checkbox input[type=checkbox]:checked+.item-media i.icon-form-checkbox,
body .checkbox-radius input[type=radio]:checked+.item-media i.icon-form-checkbox,
body .label-checkbox input[type=checkbox]:checked+i.icon-form-checkbox,
body .checkbox-radius input[type=radio]:checked+i.icon-form-checkbox {
  background-image:  url(../images/checked1.svg);background-color: transparent;
}
body .label-checkbox i.icon-form-checkbox::after {display: none}


.icon-left {color: #999;}
.button.button-fill {height: 2rem;line-height: 2rem;font-size: .8rem;}
.button-green.button-fill {background: #54c8c7;color: #fff;}
.icon-kcjianjie {background: url(../images/kechengjianjie@2x.png) no-repeat center;width: 1rem;
  height: 0.7rem;
  background-size: auto 100%;
  position: relative;
  top: -1px;margin-right: 0.15rem}
.icon-img-up,.icon-img-down {height: 0.7rem;width: 0.7rem;background: no-repeat center;background-size: 100%}
.icon-img-up {background-image: url(../images/shouhui@2x.png)}
.icon-img-down {background-image: url(../images/xiala@2x.png)}
.icon-tuoguan {height: 1rem;width: 1rem;float: left;position: relative;top: 1px; margin-right: 0.3rem; background: no-repeat center;background-size: 100%;background-image: url(../images/tuoguan.png)}
.icon-yingyangcan {height: 1rem;width: 1rem;float: left;position: relative;top: 1px; margin-right: 0.3rem; background: no-repeat center;background-size: 100%;background-image: url(../images/yingyangcan@3x.png)}
.icon-xueshengxx {height: 1rem;width: 1rem;float: left;position: relative;top: 1px; margin-right: 0.3rem; background: no-repeat center;background-size: 100%;background-image: url(../images/xueshengxinxi.svg)}
.icon-dingdanxx {height: 1rem;width: 1rem;float: left;position: relative;top: 1px; margin-right: 0.3rem; background: no-repeat center;background-size: auto 100%;background-image: url(../images/dindanxiangqing@3x.png)}
.icon-weixin {height: 1rem;width: 1.2rem;float: left;position: relative;top: 1px; margin:0  0.3rem; background: no-repeat center;background-size: auto 100%;background-image: url(../images/weixin-icon@3x.png)}


.list-block.media-list .item-title {font-weight: normal}
.media-circle {border-radius: 50%;overflow: hidden;}
.media-circle img {display: block;width: 100%;}
.item-media img{max-width: 100%;}
.list-block .item-title-row {align-items: center;-webkit-align-items: center;}
.content-block-title {margin-top: 1.2rem}
.tsc {text-overflow: ellipsis;white-space: nowrap;overflow: hidden;}
.buttons-tab .button {color: #73828e}
.buttons-tab .button.active {color: #73828e;border-bottom: 3px solid #54c8c7}

.user-tag {display: flex; display: -webkit-flex;align-items: center;-webkit-align-items: center;}
.user-tag .media-circle {margin-right: 0.3rem}

.modal {box-shadow: 0 3px 12px rgba(0, 0, 0,0.1)}
.modal-inner {background: #fff;padding: 2rem 0.75rem}
.modal-button {background: #fff;color: #999;}
.modal-button.modal-button-bold {color: #000}
/* rest end */
.bar {background: #f0f4f7;}
.bar .icon {top:-2px;}
.bar.shadow{box-shadow: 0 0 7px rgba(0,0,0,0.1);}
.bar .title {font-size: 0.95rem;color: #3f464c;}
.bar .button-link {color: #3f464c;padding-right: 5px;}
.bar-tab{background: #ffffff;border-top: 1px solid #DEDEDE}
.bar-tab .tab-item .icon { height: 1rem;width: 1rem;}
.bar-tab .icon-nav1 {background-image: url(../images/icon_nav1.png)}
.bar-tab .active .icon-nav1 {background-image: url(../images/icon_nav1_1.png)}
.bar-tab .icon-nav2 {background-image: url(../images/icon_nav2.png)}
.bar-tab .active .icon-nav2 {background-image: url(../images/icon_nav2_1.png)}
.bar-tab .icon-nav3 {background-image: url(../images/icon_nav3.png)}
.bar-tab .active .icon-nav3 {background-image: url(../images/icon_nav3_1.png)}
.bar-tab .icon-nav4 {background-image: url(../images/icon_nav4.png)}
.bar-tab .active .icon-nav4 {background-image: url(../images/icon_nav4_1.png)}
.bar-tab .tab-item .icon~.tab-label {}
.bar-tab .tab-item.active, .bar-tab .tab-item:active{color: #4498e9;}
.searchbar {padding: 0.5rem;background: #fff;height: 2.4rem;}
.searchbar .search-input input{border: none;}
.searchbar .icon-search-image {background: url(../images/icon_search.png) no-repeat;width: 1.2rem;height: 1.2rem;background-size: 100%;left: auto;right: 0.1rem;}
.searchbar .search-input label+input{padding-left: 0;padding-right: 1.4rem;}
.data-null {text-align: center;color: #999;padding-top: 3rem}

.bar-option .item-border {position: relative;}
.bar-option .item-border::after {content: '';position: absolute;display: block; width: 1px;height: 50%;right: 0;top:25%;background:#DEDEDE }
.bar-option .tab-item .icon { height: 0.8rem;width: 1rem;background: no-repeat;background-size: auto 100%}
.bar-option .tab-item .icon-shoucang {background-image: url(../images/yijianshoucang@2x.png)}
.bar-option .tab-item .icon-zixun {background-image: url(../images/zixunyixia@2x.png)}
.bar-option .tab-item .total {text-align: center}
.bar-option .tab-item .icon~.tab-label {top: 0}
.bar-option .total .tab-label {display: inline-block;text-align: left}
.bar-option .total .tab-label p{font-size: .55rem;position: relative;top: .15rem;}
.bar-option .total .tab-label b{font-size: 0.85rem;color: #BE1B1B}
.bar-option .btn{color: #fff;background-color: #BE1B1B;padding: 0 1rem}
/* /托管页面/ */

.navScroll {position: absolute;top:0;left: 0; background: #fff;height: 2.5rem;width: 100%;
  overflow: hidden;margin:0 auto;border-bottom:1px solid #DEDEDE;z-index: 1;}
.navScroll .scroller {position:absolute}
.navScroll .scroller li {float: left;font-size: .8rem;text-align: center}
.navScroll .scroller li a{height: 2.5rem;position: relative; color:#999;display:block;margin:0 .2rem;padding:0 .5rem;line-height: 2.5rem}
.navScroll .scroller li a.active{color:#000;}
.navScroll .scroller li a.active::after {content: '';display: block;border-radius: 0.1rem;height: 0.2rem;width: 50%;position: absolute;bottom: 0.2rem;left: 25%;background: #BF1C1C}
#deposit-page .navScroll~.content { top: 2.5rem;}
.deposit-list {padding-bottom: 0.6rem}
.deposit-list .list-block {margin: 0.5rem 0 0;box-shadow: 0 3px 5px rgba(183, 170, 170, 0.1)}
.deposit-list .list-block.media-list .item-inner {padding-top: 0.4rem;padding-bottom: 0.4rem;padding-right: .35rem;overflow: visible;}
.deposit-list .list-block .item-title {font-weight: bold}
.deposit-list .item-inner .item-txt {font-size: 0.7rem;margin-top: 0.25rem;}
.deposit-list .list-block .item-txt span {color: #999;font-size: 0.5rem;}
.deposit-list .list-block .item-txt .flex-item {width: 50%}
.deposit-list .list-block .item-jianjie .icon-img-up,.deposit-list .list-block .item-jianjie.active .icon-img-down {display: none}
.deposit-list .list-block .item-jianjie.active .icon-img-up {display: inline-block}
.deposit-list .list-block .item-jianjie .jiantou {position: relative;left: 1.25rem;}
.deposit-list .con {display: none; padding: 0.4rem 0.75rem ;font-size: 0.55rem;color: #999;border-top: 1px solid #dedede;}
.deposit-list .list-block .item-media{    padding-right: 0.7rem;}
/* 快速点餐 */
#quickList-page .head-panel {margin-bottom: 2.4rem;position: relative;}
#quickList-page .head-panel  .bg{display: block;width: 100%;}
#quickList-page .head-panel  .list-block {position: absolute;bottom: -1.8rem;left: 0;margin: 0;}
#quickList-page .head-panel  .list-block ul {background: none}
#quickList-page .head-panel  .list-block .item-title {color: #fff; font-size: 1rem; margin-top: 0.7rem;}
#quickList-page .head-panel  .list-block .item-btn {color: #FF6F00;border-radius: 0.5rem; margin-top: 0.1rem; border: 1px solid #FF6F00;font-size: 0.6rem;margin-top: 0.5rem;padding: 0 5px;display: inline-block;}
#quickList-page .head-panel  .list-block .pic {width: 3.6rem;overflow: hidden;border-radius: 0.5rem;box-shadow: 0 0 0.7rem rgba(0, 0, 0,0.2)}
#quickList-page .head-panel  .list-block .item-inner::after,#quickList-page  .head-panel .list-block ul:before{display: none}
#quickList-page .buttons-tab {background: #fff;}
#quickList-page .buttons-tab .button {color: #000;height: 2.4rem;line-height: 2.4rem;border-bottom: 1px solid #dedede}
#quickList-page .buttons-tab .button.active {color:#BE1C1C;border-bottom-color: #BE1C1C}

.quick-list {margin: 0}
.quick-list ul {padding-bottom: 0.6rem;background: none}
.quick-list ul::before,.quick-list .item-inner::after {display: none}
.quick-list li {margin-top: 0.6rem;background: #fff;}
.quick-list .pic {width: 3.2rem;}
.quick-list  .item-subtitle {color: #999;font-size: 0.65rem;margin: 0.15rem 0}
.quick-list  .item-text {height: auto;color: #BE1B1B;font-size: 0.75rem}
.quick-list  .item-text b{font-size: 1rem}
.quick-list  .button-red {height: 1.6rem;line-height: 1.6rem;border-radius: 0.8rem;font-size: 0.7rem; background: #BE1B1B;margin-right: 0.75rem;border: none; color: #fff;}

#quickInfo-page .head-panel {padding: 0.7rem 0.7rem 0.3rem;background: #fff}
#quickInfo-page .head-panel .pic {border-radius: 0.8rem;overflow: hidden;}
#quickInfo-page .head-panel .pic img{width: 100%;display: block}
#quickInfo-page .head-panel .item-title{margin: 0.5rem 0 0.1rem}
#quickInfo-page .head-panel .price{color: #BE1B1B;font-size: 1.1rem;font-weight: bold}
#quickInfo-page .head-panel .price small {font-size: 0.7rem;}
#quickInfo-page .head-panel .after {color: #999;font-size: 0.7rem;}
#quickInfo-page .detail-panel {margin-top: 0.5rem;background: #fff}
#quickInfo-page .detail-panel .item-title {height: 2.5rem;line-height: 2.5rem;border-bottom: 1px solid #dedede;text-align: center;}
#quickInfo-page .detail-panel .item-title span {display: inline-block;position: relative;}
#quickInfo-page .detail-panel .item-title span::before {content: ''; display: inline-block;position: absolute;top: 48%;left: -1.6rem;width: 1.2rem;height: 1px;background: #dedede}
#quickInfo-page .detail-panel .item-title span::after {content: ''; display: inline-block;position: absolute;top: 48%;right: -1.6rem;width: 1.2rem;height: 1px;background: #dedede}
#quickInfo-page .detail-panel .con {padding: 0.7rem;}
#quickInfo-page .detail-panel .con img{display: block;width: 100%;margin-bottom: 0.5rem}
#quickInfo-page .bar .flex-item {height: 2.5rem;line-height: 2.5rem;text-align: center};
#quickInfo-page .bar .icon-zixunkf {}
#quickInfo-page .bar .btn-buynow {width: 60%;color: #fff;background-color: #BE1B1B;}
#quickInfo-page .bar .item-zixun { width: 40%;color: #999;}
#quickInfo-page .bar .item-zixun  .icon-zixunkf  {height: 0.75rem;width: 1rem;margin-right: 10px; background: url(../images/zixun.png) no-repeat;background-size: auto 100%;}
/* 确认订单 */
#order-page .header-panel{margin-bottom: 0.6rem;position: relative;}
#order-page .header-panel .bg {display: block;width: 100%;}
#order-page .header-panel span{display: block;text-align: center;position: absolute;top: 50%;width: 100%;-webkit-transform: translateY(-50%)}
#order-page .header-panel span img{width: 2rem;}
#order-page .header-panel span p{font-size: 0.7rem}
#order-page .list-panel{}
#order-page  .card {margin: 0.5rem 0 0.7rem;background: #fff;border-radius: 0;}
#order-page  .card-header {border-radius: 0}
#order-page  .card-header::after {background: #dedede}
#order-page  .list-panel ul {padding-bottom: 0.5rem;position: relative;top: -1px;}
#order-page  .list-panel li {background: #F9F9F9;border-top: 1px solid #dedede;border-bottom: 1px solid #dedede}
#order-page  .list-panel li + li{margin-top: 0.5rem}
#order-page  .list-panel .icon-form-checkbox{transform: scale(0.8);-webkit-transform: scale(0.8)}
#order-page  .list-panel .pic {border-radius: 0.3rem;overflow: hidden;margin: 0 0 0 0.5rem;width: 3rem;}
#order-page  .list-panel .pic img{width: 100%;display: block}
#order-page  .list-panel .item-inner {padding-top: 0;padding-bottom: 0}
#order-page  .list-panel .item-inner::after {display: none;}
#order-page  .list-panel .item-title {font-size: 0.75rem;font-weight: bold;padding-top: 0.8rem}
#order-page  .list-panel .item-text {font-size: 0.75rem;color: #BE1C1C;margin-top: 0.4rem ;height: auto;}
#order-page  .list-panel .item-nums {color: #999;margin: 0 0.7rem}
#order-page  .list-panel .card-footer {text-align: right;padding-top:0;min-height: auto;color: #999}
#order-page  .list-panel .card-footer::before {display: none}
#order-page  .list-panel .card-footer span{width: 100%}
#order-page  .list-panel .card-footer b{font-size: 0.85rem}
#order-page .form-panel .item-inner,#order-page .form-panel .item-inner input,#order-page .form-panel .item-inner select
,#order-page .form-panel .item-inner textarea{font-size: 0.7rem}
#order-page .form-panel .list-block .item-title.label {width: auto;color: #999}
#order-page .bar-option {font-size: 0.75rem;}
#order-page .bar-option .btn {font-size: 0.85rem;}
#order-page.orderInfo-page .form-panel .item-inner::after {display: none}
#order-page.orderInfo-page .form-panel .item-inner,#order-page.orderInfo-page .form-panel .list-block .item-content {min-height: auto;padding-top: 0;padding-bottom: 0;overflow: visible; align-items: baseline;-webkit-align-items: baseline;}
#order-page.orderInfo-page .form-panel .list-block .item-input {margin: 0;color: #999}
#order-page.orderInfo-page .form-panel .card-content {padding: 0.5rem 0}
#order-page.orderInfo-page .button-list {background: #fff;padding: 0.5rem }
#order-page.orderInfo-page .button-list .button {padding: 0 ;width: 5rem;margin: 0 0.1rem; height: 1.8rem;line-height: 1.8rem;border-radius: 0.9rem; border-color: #DEDEDE;color: #999}
/* 我的订单 */
#myOrder-page {}
#myOrder-page .buttons-tab {height: 2.6rem;position: absolute;top: 2.2rem;left: 0; background: #fff;width: 100%; }
#myOrder-page .buttons-tab a {   
   height: 2.6rem;
  line-height: 2.6rem;
  display: inline-block;
  color: #999
 }
  #myOrder-page .buttons-tab .button.active {border-bottom-width: 1px; color: #BE1B1B;border-bottom-color: #BE1B1B;font-weight: bold;}
#myOrder-page .buttons-tab span {    width: 100%;
  height: 100%;
  -webkit-box-flex: 1;
  -ms-flex: 1;}
#myOrder-page .buttons-tab~.content {
  top: 4.8rem;
}
.header-select {display: inline-block;}
.header-select .jiantou {margin-left: 2px;}
.header-select .jiantou .icon-img-up,.header-select.active .jiantou .icon-img-down{display: none;}
.header-select.active .jiantou .icon-img-up,.header-select .jiantou .icon-img-down{display: inline-block;}
.header-select-option {display: none;z-index: 1000; position: absolute;top: 2.2rem;left: 0;right: 0;bottom: 0;background: rgba(0, 0, 0,0.6)}
.header-select-option .inner {background: #fff;padding: 0.2rem 0.7rem;    justify-content: space-around;-webkit-justify-content: space-around;}
.header-select-option .inner .button{display: inline-block;padding: 0 0.9rem; border-radius: 0.9rem;height: 1.8rem;line-height: 1.8rem;color: #999;border: 1px solid #dedede;}
.header-select-option .inner .button.active{color: #fff;background: #BE1B1B; border-color: #BE1B1B;}
#myOrder-page .card{margin: 0.6rem 0;border-radius: 0;}
#myOrder-page .card-header{border-radius: 0;padding: 0.3rem 0.75rem;min-height:auto}
#myOrder-page .card-header .time {color: #999;font-size: 0.7rem}
#myOrder-page .card-header .state {font-size: 0.8rem}
#myOrder-page .card-header .state-yf {color: #BE1B1B}
#myOrder-page .card-header .state-yt {color: #FF6F00}
#myOrder-page .card .list-block {margin-bottom: 0;}
#myOrder-page .card .item-inner {position: relative;}
#myOrder-page .card .pic {width: 3.2rem;}
#myOrder-page .card .pic img {width:100%;display: block}
#myOrder-page .card .item-title {font-size: 0.8rem;}
#myOrder-page .card .item-after {font-weight: bold;color: #BE1B1B}
#myOrder-page .card .item-subtitle {font-size: 0.6rem;color: #999;margin-top: 0.1rem;}
#myOrder-page .card .img-type {width: 2.3rem;height: 2.2rem;position: absolute;right: 0.75rem;bottom: 0;display: block;background: no-repeat center;background-size: 100% auto;}
#myOrder-page .card .img-type.type1 {background-image: url(../images/type1.png)}
#myOrder-page .card .img-type.type2 {background-image: url(../images/type2.png)}
#myOrder-page .card .card-footer {color: #FF6F00;font-size: 0.7rem; padding: 0.3rem 0.75rem;min-height:auto}
#myOrder-page .data-null {font-size: 0.6rem;padding: 0.2rem 0 0.5rem}



/* 个人信息 */
#page-myData .list-block {margin: 0 0 0.6rem;}
#page-myData .list-block .item-head {border-bottom: 1px solid #e7e7e7;padding: 0.4rem 0.75rem;}
#page-myData .list-block .item-head .item-media {width: 3rem;height: 3rem;border-radius: 50%;overflow: hidden;}
#page-myData .list-block .item-head .item-media img{width: 100%;}
#page-myData .list-block .item-head .item-title {color: #033333}
#page-myData .list-block .item-inner {overflow:visible}
#page-myData .list-block .item-head .item-inner:after {display: none}
#page-myData .list-block .item-inner:after {left: -0.75rem;width: auto;right: 0;
  transform:scaleY(1);
  -webkit-transform:scaleY(1);}
#page-myData .list-block input,#page-myData .list-block select {text-align: right;direction: rtl;font-size: 0.75rem}
#page-myData .list-block .item-input-code input {text-align: right}
#page-myData .list-block .item-title.label {width: auto;padding-right: 10px}
#page-myData .list-block .textsend {
    width: auto !important;
}
#page-myData .list-block .money {
    color: #BE1B1B;
}
#page-myData .mydate-alert{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 99999999;
    display: none;
}

#page-myData .mydate-alert .mydate-msg{
    position: fixed;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
    z-index: 99999999;
    width: 16.75rem;
    height: 25rem;
    background: #FFFFFF;
}
#page-myData .mydate-alert .mydate-msg .alert-title{
    display: flex;
    align-items: center;
    justify-content: center;
    height:2.85rem;
    font-size: 0.9rem;
    color: #000000;
    border-bottom: 1px solid #DEDEDE;
    margin-bottom: 0.5rem;
}
#page-myData .show_mydate{
    display: block !important;
}
#page-myData .mydate-alert .mydate-msg .msg-conter{
    height:21.64rem;
    padding-left: .65rem;
    padding-right:.65rem;
    overflow-y: auto;
    font-size: .75rem;
    color: #000000;
}
#page-myData .mydate-alert .close-mydate{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999999;
    width: 100%;
    height: 100%;
    background:rgba(0,0,0,.6);
}
#page-myData .list-block .button-code {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  -webkit-flex-shrink: 1;
  -ms-flex: 0 1 auto;
  -webkit-flex-shrink: 1;
  flex-shrink: 1;
  height: 1.4rem;
  line-height: 1.4rem;
  font-size: .8rem;
  border-radius: 0.8rem;
  width: 5.6rem;
  text-align: center;
  background: #fff;
  color: #BE1B1B;
  border:1px solid #BE1B1B;
  margin-left: 10px;
  font-size: 0.7rem
}
#page-myData .list-block .button-code.disabled {
  background: #fff;color: #999;border-color: #dedede; 
}
#page-myData .agreement {margin-top: 1rem;font-size: .75rem}
#page-myData .agreement i{transform: scale(0.8);-webkit-transform: scale(0.8)}
#page-myData .button-submit {}
/* 支付 */
#page-pay .list-block {margin: 0.6rem 0 0.6rem;background: #fff}
#page-pay .head-panel {padding: 1.6rem 0;text-align: center;}
#page-pay .head-panel .item-title {    color: #BE1B1B;
  font-size: 1.4rem;
  font-weight: bold;}
#page-pay .head-panel .item-title small{font-size:1.2rem}
#page-pay .head-panel .item-subtitle {color: #999;font-size: 0.7rem}
#page-pay .list-block .item-media+.item-inner {margin-left: 0;}
#page-pay .icon-form-checkbox {margin-right: 1rem}

/* 申请流程 */
.apply-status {padding: 0.6rem 0.75rem;background: #fff;}
.apply-status span {width: 33.3%;position: relative;text-align: center;font-size: .5rem;color: #999;
padding-top: 0.85rem;
}
.apply-status span::before {content: '';position: absolute;top: 0;left: 50%; margin-left: -5px; height: 10px;width: 10px;
background: #dedede;display: block;border-radius: 50%;z-index: 2;
}
.apply-status span::after {content: '';position: absolute;top: 4px;left: 50%; height: 2px;width: 100%;
  border-top: 2px dotted #dedede; display: block;border-radius: 50%;
  z-index: 1;
  }
.apply-status span:nth-child(3)::after {display: none}
.apply-status.status1 span:nth-child(1)::before,.apply-status.status2 span:nth-child(1)::before,.apply-status.status3 span:nth-child(1)::before{background: #BE1B1B;}
.apply-status.status1 span:nth-child(1),.apply-status.status2 span:nth-child(1),.apply-status.status2 span:nth-child(2),.apply-status.status3 span {color: #BE1B1B}
.apply-status.status2 span:nth-child(2)::before,.apply-status.status3 span:nth-child(2)::before{background: #BE1B1B;}
.apply-status.status2 span:nth-child(1)::after,.apply-status.status3 span:nth-child(1)::after{border-color: #BE1B1B;}

.apply-status.status3 span:nth-child(3)::before{background: #BE1B1B;}
.apply-status.status3 span:nth-child(2)::after{border-color: #BE1B1B;}

.apply-status-tip {color: #BE1B1B;padding: 0.5rem 0.75rem 0;font-size: 0.6rem}
#apply-page .list-panel{}
#apply-page  .content-block-title {margin-top: 0.6rem;font-size: 0.75rem;color: #000}
#apply-page  .card {margin: 0.5rem 0 0.7rem;background: #fff;border-radius: 0;}
#apply-page  .card-header {border-radius: 0}
#apply-page  .card-header::after {background: #dedede}
#apply-page  .list-panel ul {padding-bottom: 0.5rem;position: relative;top: -1px;}
#apply-page  .list-panel li {background: #F9F9F9;border-top: 1px solid #dedede;border-bottom: 1px solid #dedede}
#apply-page  .list-panel li + li{margin-top: 0.5rem}
#apply-page  .list-panel .icon-form-checkbox{transform: scale(0.8);-webkit-transform: scale(0.8)}
#apply-page  .list-panel .pic {border-radius: 0.3rem;overflow: hidden;margin: 0 0 0 0.5rem;width: 3rem;}
#apply-page  .list-panel .pic img{width: 100%;display: block}
#apply-page  .list-panel .item-inner {padding-top: 0;padding-bottom: 0}
#apply-page  .list-panel .item-inner::after {display: none;}
#apply-page  .list-panel .item-title {font-size: 0.75rem;font-weight: bold;padding-top: 0.8rem}
#apply-page  .list-panel .item-text {font-size: 0.75rem;color: #BE1C1C;margin-top: 0.4rem ;height: auto;}
#apply-page  .list-panel .item-nums {color: #999;margin: 0 0.7rem}
#apply-page  .list-panel .card-footer {text-align: right;padding-top:0;min-height: auto;color: #999}
#apply-page  .list-panel .card-footer::before {display: none}
#apply-page  .list-panel .card-footer span{width: 100%}
#apply-page  .list-panel .card-footer b{font-size: 0.85rem}
#apply-page .form-panel .item-inner,#apply-page .form-panel .item-inner input,#apply-page .form-panel .item-inner select
,#apply-page .form-panel .item-inner textarea{font-size: 0.7rem}
#apply-page .form-panel .list-block .item-title.label {width: auto;color: #999}
#apply-page .bar-option {font-size: 0.75rem;}
#apply-page .bar-option .btn {font-size: 0.85rem;}
#apply-page .textarea {font-size: 0.7rem;padding: 0.5rem 0.75rem;color: #999}
#apply-page .textarea textarea{ font-size: 0.7rem;border: 1px solid #dedede;border-radius: 0.3rem;height: 3rem;}
#apply-page .status-list {margin-top: 0.6rem;}
#apply-page .status-list::before {content: '';display: block; width: 100%; height: 0.8rem;background: #fff url(../images/jingdu@3x.png) repeat-x left bottom;background-size: auto 0.4rem; }
#apply-page .status-list li{margin-bottom: 0.6rem;background: #fff;padding: 0.5rem 0.75rem 0;}
#apply-page .status-list li .time{color: #999;font-size: 0.7rem;}
#apply-page .status-list li .con{padding: 0.3rem 0 0.4rem;font-size: 0.75rem}
#apply-page .status-list li .foot{padding: 0.3rem 0.75rem;margin: 0 -0.75rem; color: #999;font-size: 0.65rem;border-top: 1px solid #dedede}

#applyList-page {}
#applyList-page .content-block-title {padding: 0.75rem 0.75rem 0;margin: 0;font-size: 0.75rem;color: #000;    background: #F6F4F4;}
#applyList-page .class-list {padding: 0.75rem 0.75rem 0;}
#applyList-page .class-list li{margin-bottom: 0.6rem}
#applyList-page .class-list li a{display: block;position: relative;border-radius: 0.5rem;}
#applyList-page .class-list li img {display: block;width: 100%;}
#applyList-page .class-list li p {width: 100%;position: absolute;top: 50%;height: 1rem;margin-top: -0.6rem;line-height: 1.2rem; color: #fff;font-size: 1.2rem;text-align: center;}

#applyNextStep-page {background: #fff;}
#applyNextStep-page .content-block-title {padding: 0.75rem 0.75rem 0.65rem;margin: 0;font-size: 0.75rem;color: #000;    background: #F6F4F4;}
#applyNextStep-page  .card {margin: 0.5rem 0 0.7rem;background: #fff;border-radius: 0;box-shadow: none}
#applyNextStep-page  .card-header {border-radius: 0}
#applyNextStep-page  .card-header::after {background: #dedede}
#applyNextStep-page  .list-panel ul {padding-bottom: 0.5rem;position: relative;top: -1px;}
#applyNextStep-page  .list-panel li {background: #F9F9F9;border-top: 1px solid #dedede;border-bottom: 1px solid #dedede}
#applyNextStep-page  .list-panel li + li{margin-top: 0.5rem}
#applyNextStep-page  .list-panel .icon-form-checkbox{transform: scale(0.8);-webkit-transform: scale(0.8)}
#applyNextStep-page  .list-panel .pic {border-radius: 0.3rem;overflow: hidden;margin: 0 0 0 0.5rem;width: 3rem;}
#applyNextStep-page  .list-panel .pic img{width: 100%;display: block}
#applyNextStep-page  .list-panel .item-inner {padding-top: 0;padding-bottom: 0}
#applyNextStep-page  .list-panel .item-inner::after {display: none;}
#applyNextStep-page  .list-panel .item-title {font-size: 0.75rem;font-weight: bold;padding-top: 0.8rem}
#applyNextStep-page  .list-panel .item-text {font-size: 0.75rem;color: #BE1C1C;margin-top: 0.4rem ;height: auto;}
#applyNextStep-page  .list-panel .item-nums {color: #999;margin: 0 0.7rem}
#applyNextStep-page  .list-panel .card-footer {text-align: right;padding-top:0;min-height: auto;color: #999}
#applyNextStep-page  .list-panel .card-footer::before {display: none}
#applyNextStep-page  .list-panel .card-footer span{width: 100%}
#applyNextStep-page  .list-panel .card-footer b{font-size: 0.85rem}

#feedback-page .head-panel {background: #fff;padding: 0.75rem;font-size: 0.75rem;}
#feedback-page .head-panel span {font-size: 0.65rem;color: #999}
#feedback-page .form-panel {padding: 0.75rem;margin-top: 0.6rem; background: #fff;font-size: 0.75rem;}
#feedback-page .form-panel p {margin: 0.3rem 0 0}
#feedback-page  textarea{width: 100%; padding: 0.5rem ;color: #999; font-size: 0.7rem;border: 1px solid #dedede;border-radius: 0.3rem;height: 5rem;}
#feedback-page  input{width: 100%;color: #999; font-size: 0.7rem;border:none ;border-bottom: 1px solid #dedede;height: 2rem;}